@page "{id:int}"
@model EditModuleModel

@{
    ViewData["Title"] = "Редактирование модуля";
}
<div class="text-center">
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>

<div asp-validation-summary="All"></div>
<form method="post">
    <input asp-for="Module.Id" type="hidden"/>
    <input asp-for="Module.CourseId" type="hidden"/>
    <div style="display: flex; flex-direction: column;">
        <div style="flex: 1; margin-bottom: 5vh;">
            <div class="border rounded" style="box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px, rgb(14 30 37 / 12%) 0px 1px 10px 0px;">
                <div>
                    <p style="margin-bottom: 0.1rem; margin-left: 0.4%;">Название</p>
                    <div style="border-bottom: 1px solid #dee2e6; border-top: 1px solid #dee2e6;">
                        <input placeholder="Мой модуль" style="width: 99.4%; border: none; outline-color: #0399e8; margin-left: 0.4%; padding: 0;" maxlength="40" asp-for="Module.Name"/>
                        <span asp-validation-for="Module.Name"></span>
                    </div>
                </div>
                <div>
                    <p style="margin-bottom: 0.1rem; margin-left: 0.4%;">Описание</p>
                    <div style="border-bottom: 1px solid #dee2e6; border-top: 1px solid #dee2e6;">
                        <textarea placeholder="Самый лучший модуль" style="width: 99.4%; border: none; outline-color: #0399e8; margin-left: 0.4%; padding: 0; resize: none" rows="3" maxlength="300" asp-for="Module.Description"></textarea>
                        <span asp-validation-for="Module.Description"></span>
                    </div>
                </div>
                <div>
                    <p style="margin-bottom: 0.1rem; margin-left: 0.4%;">
                        Порядковый номер
                        <small class="text-muted">Порядковый номер начинается с нуля</small>
                    </p>
                    <div style="border-bottom: 1px solid #dee2e6; border-top: 1px solid #dee2e6;">
                        <input placeholder="0" style="width: 99.4%; border: none; outline-color: #0399e8; margin-left: 0.4%; padding: 0;" asp-for="Module.index"/>
                        <span asp-validation-for="Module.index"></span>
                    </div>
                </div>
            </div>
            <div>
                <p style="margin-bottom: 0.2rem">Главы</p>
                <div>
                    @if (!Model.Chapters.Any())
                    {
                        <label>Глав пока нет. <a asp-page="CreateChapter" asp-all-route-data="Model.CreateChapterRouteData">Создайте новую.</a> </label>
                    }
                    else
                    {
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Название</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var chapter in Model.Chapters)
                            {
                                <tr>
                                    <th scope="row">@chapter.index</th>
                                    <td>@chapter.Name</td>
                                    <td>
                                        <form style="min-width: max-content;" method="post">
                                            <a class="btn btn-outline-primary" asp-page="EditChapter" asp-route-id="@chapter.Id">Изменить</a>
                                            <button type="submit" class="btn btn-outline-danger" asp-page-handler="delete" asp-route-chapterId="@chapter.Id">
                                                Удалить
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <a asp-page="CreateChapter" asp-all-route-data="Model.CreateChapterRouteData">Создать новую главу</a>
                        
                    }
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Сохранить"/>
    </div>
</form>